* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#bolinha {
    position: absolute;
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 1;
    left: 0;
    top: 0;
}
#bolinha:hover {
    background-color: gray;
}
body {
    background: linear-gradient(to bottom right, #235789, #F1D302);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
#pontuacao {
    position: absolute;
    left: 50vw;
    top: 1vh;
    border: 1px solid white;
    padding: 5px;
    border-radius: 15px;
    color: white;
}
#botParar {
    position: absolute;
    left: 95vw;
    top: 1vh;
    border: 1px solid white;
    padding: 5px;
    border-radius: 15px;
    color: white;
}
#botParar:hover {
    color: #F1D302;
    border: 1px solid #F1D302;
}
#botReiniciar {
    position: absolute;
    left: 88vw;
    top: 1vh;
    border: 1px solid white;
    padding: 5px;
    border-radius: 15px;
    color: white;
}
#botReiniciar:hover {
    color: #F1D302;
    border: 1px solid #F1D302;
}
#botIniciar {
    position: absolute;
    left: 82vw;
    top: 1vh;
    border: 1px solid white;
    padding: 5px;
    border-radius: 15px;
    color: white;
}
#botIniciar:hover {
    color: #F1D302;
    border: 1px solid #F1D302;
}